!!!
%html
  %head
     %wrapper
      %chat-side
         %side-header
            %groups
%chat-main
  %main-header 
     %main-header__leftbox  
     %main-header__edit-btn
     
%messages
  %form
     %input-box__text   


     